test.json
{
  "name": "Practice Workflow All Topics",
  "nodes": [
    {
      "parameters": {
        "path": "trigger",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "fields": {
          "field1": "={{$json[\"name\"]}}",
          "field2": "={{$json[\"email\"]}}"
        }
      },
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://api.agify.io/?name={{$json[\"field1\"]}}",
        "responseFormat": "json"
      },
      "name": "API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { name: $json.name, email: $json.email, estimatedAge: $json.age } }];"
      },
      "name": "Function Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "fileName": "output.csv",
        "dataPropertyName": "binaryData",
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "fromEmail": "test@yourdomain.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Your estimated age",
        "text": "Hello {{$json[\"name\"]}}, your estimated age is {{$json[\"estimatedAge\"]}}."
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Request": {
      "main": [
        [
          {
            "node": "Function Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Format": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
