test.json
{
  "name": "Simple Email to Excel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "read-emails",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "postProcessAction": "read",
        "simple": false,
        "options": {
          "attachments": false,
          "downloadAttachments": false
        }
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Read Emails",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "imap": {
          "id": "1",
          "name": "Email IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simple email processing for Excel\nconst emails = [];\n\n// Process each email\nfor (const item of $input.all()) {\n  const email = item.json;\n  \n  emails.push({\n    'Date': new Date(email.date).toLocaleDateString(),\n    'Time': new Date(email.date).toLocaleTimeString(),\n    'From': email.from?.text || email.from || 'Unknown',\n    'Subject': email.subject || 'No Subject',\n    'Preview': email.text ? email.text.substring(0, 150).replace(/\\n/g, ' ') : 'No content',\n    'Status': email.flags?.includes('\\\\Seen') ? 'Read' : 'Unread',\n    'Attachments': email.attachments?.length || 0\n  });\n}\n\nreturn emails.map(email => ({ json: email }));"
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "My_Emails_{{ $now.format('yyyy-MM-dd_HH-mm') }}.xlsx",
          "sheetName": "Emails"
        }
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Create Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        }
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Download Excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Emails": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Create Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Excel": {
      "main": [
        [
          {
            "node": "Download Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-90ab-cdef-1234-567890abcdef",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "87654321-abcd-ef12-3456-789012345678",
  "tags": []
}
