test.json
{
  "nodes": [
    {
      "parameters": {
        "email": "youremail@gmail.com",
        "password": "yourapppassword",
        "host": "imap.gmail.com",
        "port": 993,
        "tls": true,
        "options": {
          "mailbox": "INBOX",
          "fetchAll": false,
          "limit": 10,
          "onlyUnread": true
        }
      },
      "id": "IMAP_Email",
      "name": "Read Email",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "fields": {
          "From": "={{$json.from.text}}",
          "Subject": "={{$json.subject}}",
          "Date": "={{$json.date}}",
          "Text": "={{$json.text}}"
        }
      },
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your_google_sheet_id_or_spreadsheet_file_path",
        "range": "Sheet1!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "name": "Save to Excel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google API"
        }
      }
    }
  ],
  "connections": {
    "Read Email": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Save to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
